<div id = "index">
  <h1> Mini blog</h1>
  <%= link_to "戻る", "/blog/index" %>
  <div>
    <div>
      <p><%= @blog.id %> : 投稿日時:<%= @blog.created_at %> | <%= link_to "いいね", controller: "blog", action: "like", id: @blog %> :<%= @blog.like %></p>
    </div>
    <div>
      <%= @blog.body %>
    </div>
    <%= form_with model: @new_reply, url: { action: "create_reply", id: @blog.id} do |r| %>
      <%= r.text_field :comment, :placeholder => "コメントしよう" %>
      <%= r.submit "コメントする" %>
    <% end %>
  </div>
  <% @comments.reverse_each do |comment| %>
    <div>
    	<p><%= comment.comment %> | 投稿日時:<%= comment.created_at %></p>
    </div>
  <% end %>

</div>